corpo {
    fonte-família: Arial;
}


caixa-cinza {
   cor de fundo: #CCCCCC;
   alinhamento de texto: centro;
   preenchimento: 10px;
}


 #foto {
    largura: 100%;
}

 #lado-a-lado {
    display: flex;
    itens de alinhamento: centro;
    justificar-conteúdo: espaço-uniforme;
}


 #p1 {
    peso fonte: negrito; /* Texto em negrito */
    cor: #690000; /* Muda a cor da fonte */
    text-decoração: sublinhar; /* Deixa a linha sublinhada */
    tamanho da fonte: 22px; /* Muda o tamanho da fonte */
}